name: Snapshot Builder
on:
  push:
    branches: [ main ]
    tags-ignore:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    name: JDK 21 Snapshot Builder
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'corretto'
          cache: 'gradle'
      - name: Print JDK Version
        run: java -version
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Build
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
          ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.ORG_GRADLE_PROJECT_MAVENUSERNAME }}
          ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.ORG_GRADLE_PROJECT_MAVENPASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
        run:  >
          sudo -E env "PATH=$PATH" bash -c "ulimit -l 65536 && ulimit -a &&
          ./gradlew properties --no-daemon --console=plain -q | grep -E '^version: [\.0-9]+\-SNAPSHOT$' &&
          (./gradlew --no-daemon --parallel clean check &&
          ./gradlew --no-daemon --parallel sign &&
          ./gradlew --no-daemon --parallel publish
          || exit 1) || exit 0"
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.java }}
          path: '**/build/test-results/test/TEST-*.xml'
