name: PR Builder
on:
  push:
    branches: [ main ]
    tags-ignore:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    name: JDK ${{ matrix.java }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 11, 17, 20 ]
        os: [ ubuntu-latest ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'gradle'
      - name: Print JDK Version
        run: java -version
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Build
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run:  >
          sudo -E env "PATH=$PATH" bash -c "ulimit -l 65536 && ulimit -a &&
          ./gradlew properties --no-daemon --console=plain -q | grep -E '^version: [\.0-9]+\-SNAPSHOT$' &&
          ./gradlew --no-daemon --parallel clean check &&
          ./gradlew --no-daemon --parallel sign &&
          ./gradlew --no-daemon --parallel publish"
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.java }}
          path: '**/build/test-results/test/TEST-*.xml'
